<%= form_with(url: movies_path, method: :get) do |form| %>
    <div class="field">
        <%= form.label :keyword %>
        <%= form.text_field :keyword, placeholder: "Search for movies" %>
    </div>
    <div class="field">
      <div class="field">
            <%= form.label :is_showing, "Search By:" %>
            <%= form.radio_button :is_showing, "", checked: true %>
            <%= form.label :is_showing, "All", value: "" %>
            <%= form.radio_button :is_showing, "1" %>
            <%= form.label :is_showing, "Showing", value: "1" %>
            <%= form.radio_button :is_showing, "0" %>
            <%= form.label :is_showing, "Upcoming", value: "0" %>
        </div>
    </div>
    <div class="actions">
        <%= form.submit "Search" %>
    </div>
<% end %>