<p id="notice"><%= notice %></p>

<h1 class="text-center mb-4">Movies</h1>
<%= render 'search'%>
<div class="container">
  <div class="row">
    <% @movies.each do |movie| %>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <img src="<%= movie.image_url %>" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title"><%= movie.name %></h5>
            <p class="card-text"><%= movie.description %></p>
            <p class="card-text"><small class="text-muted"><%= movie.year %></small></p>
            <p class="card-text"><%= movie.is_showing ? '上映中' : '上映していません' %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>