<p id="notice"><%= notice %></p>
<p>Cinema</p>
<h1>Movies</h1>
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>映画タイトル</th>
      <th>公開年</th>
      <th>上映中か</th>
      <th>概要</th>
      <th>画像URL</th>
      <th>作成日時</th>
      <th>更新日時</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.id %></td>
        <td><%= movie.name %></td>
        <td><%= movie.year %></td>
        <td><%= movie.is_showing ? '上映中' : '上映予定' %></td>
        <td><%= movie.description %></td>
        <td><a href="<%= movie.image_url %>">画像URL<a></td>
        <td><%= movie.created_at %></td>
        <td><%= movie.updated_at %></td>
        <td><%= link_to '編集', edit_admin_movie_path(movie) %></td>
        <td><%= link_to '削除', admin_movie_path(movie), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tbody>
  <br>
  <%= link_to 'New Movie', new_admin_movie_path %>
</table>
